.detail-mode{

  .swiper-container{
    margin-top: 0;
  }

  .detail-top{
    padding:20px 30px;
    font-size: 28px;
    background: #ffffff;
  }

  .title{
    font-size: 32px;
    
  }

  .price{
    color: #ff1000;
    font-size: 36px;
    margin: 10px 0 20px 0;
  }

  .tags{
    display: flex;
    justify-content:space-between;
    color: #666666;
  }
  
  .push-mode{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    background: #ffffff;
    font-size: 30px;
    padding: 20px;

    .push-val{
      color: #666666;
    }
  }

  .detail-con{
    background: #ffffff;

    .detail-con-item{
      padding: 20px;
    }
  }

  .buy-footer{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    font-size: 30px;

    .home{
      display: flex;
      flex-direction: column;
      width: 16%;
      text-align: center;
    }

    .home:nth-of-type(1){
      border-right: 1px #ccc solid;
    }

    .text{
      font-size: 24px;
      color: #666666;
    }

    .join-car{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34%;
      background: #ff6600;
      color: #ffffff;
    }

    .go-buy{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33.5%;
      background: #ff1000;
      color: #ffffff;
    }
  }

  .shop-title{
    display: flex;
    border-bottom: 1px #ccc solid;
    padding: 30px 0;

    .img{
      width: 120px;
      max-width: 20%;
      height: 160px;
    }

    .name{
      display: flex;
      flex-direction: column;
      width: 65%;
      margin-left: 4%;

      .price{
        color: #ff1000;
        margin-top: 20px;
        font-size: 36px;
      }
    }
  }

  .shop-num{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    .sy-num{
      display: flex;
      flex-direction: column;
    }

    .sy-text{
      font-size: 24px;
      color: #999999;
    }
  }

  .btn{
    width: 80%;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #ffffff;
    background: #ff1000;
    margin: 20px auto;
    border-radius: 10px;
  }

  .add-mode{
    display: flex;
    width: 200px;
    height: 60px;

    .cart,.add{
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border: 1px #ccc solid;
      font-size: 40px;
      background: #f8f8f8;
    }

    .value{
      margin: 0 20px;
      height: 50px;
      line-height: 50px;
    }
  }

  .text-title{
    font-size: 32px;
    margin: 30px 0;
    color: #6190E8;
  }

  .figure-info{
    
    .pic-t{
      width: 280px;
      height: auto
    }

    .info-list{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 3%;
    }

    .info-list-name{
      font-size: 36px;
      font-weight: 500;
    }

    .info-list-item{
      padding: 20px 0;
    }
  }

  .book-info{
    text-indent: 40px;
    padding-bottom: 40px;
    line-height: 56px;
  }

  .at-tabs__body{
    padding-bottom: 80px;
  }
}