.order-mode {
  font-size: 30px;

  .order-info {
    background: #ffffff;
    margin: 20px 0;
    padding: 20px;

    .shop-name {
      padding-bottom: 20px;
      border-bottom: 1px #d6e4ef solid;

      .name {
        margin-left: 8px;
      }
    }

    .shop-info {
      display: flex;
      padding: 20px 0;

      .img {
        width: 120px;
        max-width: 20%;
        height: 160px;
      }

      .shop-title {
        width: 62%;
        margin: 0 3%;
      }

      .price-num {
        display: flex;
        flex-direction: column;
      }

      .price {
        color: #ff1000;
        font-size: 32px;
      }

      .num {
        color: #999;
        font-size: 24px;
        text-align: right;
      }
    }

    .count {
      text-align: right;
      color: #999;

      .x-count {
        color: #191919;
        font-size: 32px;
        margin: 0 12px;
        font-weight: 600;
      }
      .m-count {
        color: #ff1000;
        font-size: 32px;
        font-weight: 600;
      }
    }
  }

  .magges {
    background: #ffffff;
    padding: 20px;

    .picker {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px #d6e4ef solid;
      padding-bottom: 20px;
    }
  }

  .menoy {
    background: #ffffff;
    margin: 20px 0;
    padding: 20px;

    .menoy-title {
      display: flex;
      justify-content: space-between;
    }

    .menoy-count {
      text-align: right;
      font-size: 28px;
      margin: 20px 0;
      color: #999;
    }

    .menoy-all {
      text-align: right;
      font-size: 36px;
    }

    .money-text {
      color: #ff1000;
      font-size: 36px;
    }

    .submit {
      display: inline-block;
      width: 200px;
      height: 90px;
      background: #ff1000;
      color: #ffffff;
      margin-left: 20px;
      text-align: center;
      line-height: 90px;
    }
  }

  .at-form::after {
    border-top-width: 0;
    border-bottom-width: 0;
  }

  .at-modal__container {
    width: 98%;
  }

  .city-lists{
    display: flex;
    background: #ffffff;
    border-bottom: 1px #d6e4ef solid;
    padding: 10px;

    .btn{
      display: flex;
      align-self:center;
      width: 30%;
      font-size: 24px;

      .edit,.del{
        padding: 4px;
        cursor: pointer;
        color:#999;
      }
    }

    .check-icon{
      display: inline-block;
      width: 24px;
      height: 24px;
      border: 1px #ff1000 solid;
      border-radius: 50%;
      margin-right: 4px;
    }

    .check-hover{
      background: #ff1000;
    }
  }
}
